@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

.my-active {
  display: block;
  color: #ff632b;
  background-color: transparent;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: repeating-conic-gradient(#000 0 90deg,#ccc 0 180deg);
  animation: l21 1s infinite linear;
}
@keyframes l21 {
  100% {transform: rotate(.5turn)}
}